[package]
name = "stegano-core"
description = "Steganography core library for stegano-cli. Supports hiding data in PNG images via LSB Encoding."
version = "0.4.2-beta.1"
authors = ["Sven Assmann <sven.assmann.it@gmail.com>"]
edition = "2018"
license = "GPL-3.0-only"
homepage = "https://www.stegano.org"
readme = "README.md"
keywords = ["steganography", "image", "png", "hiding", "unveil"]
categories = ["encoding", "multimedia::encoding", "multimedia::images"]
repository = "https://github.com/steganogram/stegano-rs"
exclude = ["tests/*", ".gitignore", ".travis.yml"]

[badges]
github-actions = { repository = "steganogram/stegano-rs", branch = "main", workflow = "Build" }
codecov = { repository = "steganogram/stegano-rs", branch = "main", service = "github" }
maintenance = { status = "actively-developed" }

[dependencies]
image = "0.23"
bitstream-io = "0.8.5"
block-modes = "0.6.1"
aes-soft = "0.5.0"
hex-literal = "0.3.1"
zip = "0.5.6"
bzip2 = "0.4.1"
deflate = "0.8.6"
byteorder = "1.3.4"
hound = "3.4"
thiserror = "1.0"

[dev-dependencies]
speculate = "0.1"
criterion = "0.3.3"
tempdir = "0.3.7"

[lib]
bench = false

[[bench]]
name = "decoder_benchmark"
harness = false

[[bench]]
name = "encoder_benchmark"
harness = false